
/* Color blue: 00A4D0 - brown: #311D17 - davisgrey: 605856 orange E86252 - lightgrey: D0CCD0*/

/* Common */



[class*="fa-"] {color:#00A4D0;}


/* Navbar & Logo */

.icon-bar{
    color: #00A4D0 !important;
}

.navbar-brand > img{
    width: 20%;
    position: relative;
    display: block;
    float:right;
    top: -50px;

}

/* Home page Jumbotron */

.jumbotron {
    background-color: white;  
    background-image: url(images/welcome/resto_inside_pic.jpg);
    background-size: cover;
    height: 750px;
}

.banner > img{
    width: 20%;
    background-color: rgb(255, 255, 255, 0.85);
}

.mx-5, .pt-3 {
    color: white;
    padding: 2em 6em 2em 6em;
}    

.h1-responsive {
    padding: 1em 0em 0em 0em;
    margin: 0em;
    color: white;
}

.jumbotron p{
    padding: 1em 4em 0em 4em;
}

.jumbotron .btn{
    background-color: #00A4D0;
    border-radius: 50px;
    color: white;
    padding: 12px 28px;
    text-align: center;
    font-size: 20px;
    opacity: 1;
    
}

.jumbotron .btn:hover{
    background-color: #E86252;
}

/* Menu Page Group-list & Badges*/

#menupage .panel-default{
    margin-top: 1em;  
    border: none;
}

.badge-pill {
    padding: 7px;
    font-size: 12px;
    color: #E86252;
    background-color: white;
}

/* Menu Page gallery */

#menupage .row {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 5px;
  }
  
#menupage .column {
    flex: 25%;
    max-width: 20%;
    padding: 0 4px; 
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

.list-group-item {
    padding-left: 4em;
  }

/* Culture Page --> Carousel*/


#Carousel{
    background-color: #605856;
    width: 70%;
    height: 460px;
    margin: 0 auto;
}

.carousel-control{
    color: white;
}

.carousel-caption h2{
    color: white;
    text-decoration: none;
}
 
.item img {
    object-fit: cover;
    height: 460px !important;
    margin: 0 auto;
}

#culture .wrapper{
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    position: relative;
}

#culture .panel-footer{
    background-color: white;
    border: none;
}

#culture .col-xs-4{
    margin-top: 50px;
    vertical-align: 20%;
}

.mdb-lightbox > h2{
    padding: 0;
    margin-top: 200px;
}

/* Locate us Map page */

#address {
    width: 100%;
    height: 35%;
}

#location .wrapper{
    position: relative;
    margin: 0px 60px;
    padding: 20px;
}

#location iframe{
    width: 100%;
    margin: 0 auto;
    padding: 34px;

}

#location .col-xs-4{
    border: 1px solid #e86252;
    height: 150px;
  
}

/* Contact page */

#contactpage .wrapper {
    background-image: url("/images/culture/coffeebar_workingspace.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 24px;
    height: 700px;
    
}

#contactpage .mb-4 {
    background-color: rgba(119, 119, 120, 0.8);
    border-radius: 25px;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top: 50px;
}

#contactpage .row{
    padding-left: 70px;
    margin: 0 auto;
}

.label {
    font-size: 14px;
    margin-bottom: 10px;
    }

.custom-select{
    width: 100%;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 34px;
}

#contactpage p {
    color: white;
    padding-right: 19em;
    padding-bottom: 2em;
}

#contactpage .btn{
    background-color: #E86252;
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    padding: 13px 55px;
    margin-top: 40px;
    margin-left: 60px;
    text-align: center;
    font-size: 18px;
    opacity: 1;
    
}

#contactpage .btn:hover{
    background-color: #00A4D0;
    border: 5px solid white;
}

#contactpage .list-unstyled li{
    color: white;
}


/* Footer */

.page-footer{
    height: 200px;
    width: 100%;

}

footer .row{
    background-color: #ccc;
    padding-top: 30px;
}

.footer p{
    position: relative;
    bottom: 0;
}


#footer-img{
    display: flex;
    float: left;
    width: 20%;
}

.list-unstyled li i{
    padding-left: 20px;
    padding-right: 15px;
}


#footer .fa {
    font-size: 12px;

}



