
/* Common style containers & panels */

.container{
        padding-top: 50px;

    }
.panel-default{
    margin-top: 3em;
}

.panel-body{
    background-color: lightpink;
    height: 20em;
}

.row {
    margin-top: 150px;
}

/* Navbar */

/* Logo */

[class*="col-"]{
    background-color: thistle;
    border: 2px solid black;
}

/* Gallery menu items */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
        /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }


/* Menu list & Badges */

.badge{
    padding: 10px 20px;
}
.green{
    background-color: yellowgreen;
}

.coffee{
    background: url(/images/menu/coffee_corner_banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.eat{
    background: url(/images/menu/salads_banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.treats{
    background: url(/images/menu/dessert_cookies.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

/* Carousel */

#Carousel .item{
    position: relative;
    top: 100px;
    height: 800px;
    background-color: white;
   
}

.item img {
    position: relative;
    margin: 0 auto;
    width: 50%;
    top: 0;
    left: 0;
    min-height: 300px;

}

.carousel-control{
    color: black;
}
